/* add simple classes to buttons for green and grey */
body /deep/ paper-button {
  background: #009688;  /* teal 500 */
  color: white;
}

body /deep/ paper-button[disabled] {
  background: #4DB6AC;  /* teal 300 */
  color: white;
}

body /deep/ paper-button.grey {
  background: #DDDDDD;
  color: #707070;
}

/* all paper-progress places should be green */
body /deep/ paper-progress::shadow #activeProgress {
  background: #009688;
}

body /deep/ a {
  text-decoration: none;
  font-weight: 500;
  color: #009688;
}

html /deep/ [dir='rtl'] /deep/ [layout][horizontal] /deep/ core-icon[icon='arrow-back'] {
  transform: rotate(180deg);
}

body /deep/ paper-input-decorator /deep/ .underline div {
  background-color: #009688;
}

body /deep/ core-toolbar {
  background-color: #009688;
  color: white;
}
