<link rel='import' href='../../bower/polymer/polymer.html'>

<polymer-element name='uproxy-app-bar' attributes='disableback'>
  <template>
    <style>
    core-toolbar {
      height: 60px;
    }
    #title {
      font-size: 18px;
      margin-left: 36px;
      white-space: nowrap;
      overflow: hidden;
    }
    core-icon.back {
      cursor: pointer;
      opacity: 0.6;
      -webkit-transition: all 0.23s !important;
      -moz-transition: all 0.23s !important;
      transition: all 0.23s !important;
      margin-left: 16px;
      margin-right: 16px;
    }
    core-icon.back:hover {
      opacity: 1;
    }
    core-icon.back.disabled {
      cursor: not-allowed;
      opacity: .4;
    }
    </style>

    <core-toolbar>
      <core-icon class='back {{ { disabled: disableback } | tokenList }}' icon="arrow-back" on-tap='{{ back }}'></core-icon>
      <div id='title' flex>
        <content></content>
      </div>
    </core-toolbar>
  </template>
  <script src='app-bar.js'></script>
</polymer-element>
