<link rel='import' href='../../bower/polymer/polymer.html'>
<link rel='import' href='../../bower/core-icons/core-icons.html'>
<link rel='import' href='../../bower/core-collapse/core-collapse.html'>
<link rel='import' href='instance.html'>

<polymer-element name='uproxy-contact' attributes='contact, isOnline'>

  <template>
    <style>
    :host {
      box-sizing: border-box;
      margin: 0;
      z-index: 10;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    div:focus {
      outline: 0; /* disable blue focus outline around contact */
    }
    .frame {
      box-sizing: border-box;
      -webkit-transition: all 0.23s !important;
      -moz-transition: all 0.23s !important;
      transition: all 0.23s !important;
    }
    .nameRow {
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 18px 24px 0px 24px;
      cursor: pointer;
    }
    .nameRow core-icon {
      opacity: 0.6;
      margin: 0px;
    }
    .nameRow core-icon.expand {
      min-width: 25px;
    }
    .nameRow .iconWrapper {
      min-width: 30px;
      text-align: end;
      margin: 0px 8px;
    }
    .nameRow .iconWrapper core-icon[icon=open-in-new] {
      width: 16px;
      height: 16px;
    }
    .nameRow:hover core-icon.expand {
      opacity: 1;
    }
    uproxy-avatar {
      width: 40px; height: 40px;
      min-width: 40px;
      border: none;
      border-radius: 50%;
      background-color: #eee;
      vertical-align: middle;
      box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.12);
    }
    .name {
      font-size: 16px;
      color: rgba(0,0,0,0.87);
      padding: 0px 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .accessIcon {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }
    core-collapse {
      margin-left: 80px; /* line up with left bound of contact name */
      margin-right: 80px;
      margin-top: 0px; /* line details closer to bottom of contact name */
      color: rgba(0,0,0,0.54);
    }
    .offline {
      opacity: 0.5;
    }
    paper-button {
      font-size: 1em;
      margin: 14px 5px 5px 2px;
      padding-left: 1em;
      padding-right: 1em;
    }
    core-icon[icon=query-builder],
    core-icon[icon=mail],
    core-icon[icon=check] {
      height: 16px;
      width: 16px;
      color: rgba(0,0,0,0.54);
      margin: 0px 4px 0px 0px;
    }
    core-icon[icon=check] {
      color: #009688;
    }
    p.preButtonDetailedText {
      margin: 18px 0px 0px 0px;
      font-size: 12px;
      line-height: 20px;
    }
    p.preButtonText {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
    }
    </style>

    <div on-tap='{{ toggle }}' tabindex='-1'
        class='nameRow frame {{ isOnline ? "online" : "offline" }}'
        center horizontal layout>
      <uproxy-avatar src='{{ contact.imageData }}' network='{{ contact.network.name }}' showIcon='{{ model.onlineNetworks.length > 1 }}'></uproxy-avatar>
      <div class='name'><bdi>{{ contact.name }}</bdi></div>

      <div flex class="iconWrapper">
        <core-icon icon="open-in-new"
            hidden?="{{ !contact.url || (model.globalSettings.mode==ui_constants.Mode.GET && !contact.getExpanded) || (model.globalSettings.mode==ui_constants.Mode.SHARE && !contact.shareExpanded) }}"
            title="{{ contact.url }}" on-tap="{{ openLink }}"></core-icon>
      </div>

      <!-- TODO: Simplify show/hide logic of getting/sharing/expand/collapse icons. E.g. Angular allowed if/else-like logic to select what is displayed. -->
      <img src='../icons/getting_animated.gif' class='accessIcon'
          hidden?='{{ model.globalSettings.mode!=ui_constants.Mode.GET || !contact.isSharingWithMe }}'>
      <img src='../icons/sharing_animated.gif' class='accessIcon'
          hidden?='{{ model.globalSettings.mode!=ui_constants.Mode.SHARE || !contact.isGettingFromMe }}'>
      <!-- If you are sharing with or getting from a contact, the glowing sharing/getting icon will replace the expand/collapse chevron. -->
      <!-- Show expand chevron in only two cases: when contact is collapsed in GET mode and you're not getting from them OR when contact is collapsed in SHARE mode and you're not sharing with them. -->
      <core-icon icon="expand-more" class="expand"
        hidden?='{{ !(model.globalSettings.mode==ui_constants.Mode.GET && !contact.getExpanded && !contact.isSharingWithMe) && !(model.globalSettings.mode==ui_constants.Mode.SHARE && !contact.shareExpanded && !contact.isGettingFromMe) }}'>
      </core-icon>
      <!-- Show collapse chevron in only two cases: when contact is expanded in GET mode and you're not getting from them OR when contact is expanded in SHARE mode and you're not sharing with them. -->
      <core-icon icon="expand-less" class="expand"
        hidden?='{{ !(model.globalSettings.mode==ui_constants.Mode.GET && contact.getExpanded && !contact.isSharingWithMe) && !(model.globalSettings.mode==ui_constants.Mode.SHARE && contact.shareExpanded && !contact.isGettingFromMe) }}'>
      </core-icon>
    </div> <!-- end of #nameRow -->

    <core-collapse id='getControls' class='expandedControls'
      hidden?='{{model.globalSettings.mode!=ui_constants.Mode.GET}}'
      opened='{{ contact.getExpanded }}'>

      <div id='getInstanceControls' hidden?='{{ contact.gettingConsentState != GettingConsentState.LOCAL_REQUESTED_REMOTE_GRANTED }}'>
        <div horizontal layout hidden?='{{ hasInstance(ui.instanceTryingToGetAccessFrom) }}'>
          <core-icon icon='check'></core-icon>
          <p class='preButtonText' flex>
           {{ "GRANTED_YOU_ACCESS" | $$({ name: contact.name || contact.userId }) }}
          </p>
        </div>
        <div horizontal layout hidden?='{{ !hasInstance(ui.instanceTryingToGetAccessFrom) }}'>
          <core-icon icon='query-builder'></core-icon>
          <p class='preButtonText' flex>
            {{ "TRYING_TO_CONNECT" | $$({ name: contact.name || contact.userId }) }}
          </p>
        </div>
        <template repeat='{{ instance in contact.offeringInstances }}' vertical layout>
          <uproxy-instance
              user='{{ contact }}'
              instance='{{ instance }}'
              network='{{contact.network}}'>
          </uproxy-instance>
        </template>
      </div>

      <div hidden?='{{ contact.gettingConsentState != GettingConsentState.LOCAL_REQUESTED_REMOTE_NO_ACTION }}'>
        <div horizontal layout>
          <core-icon icon='query-builder'></core-icon>
          <p class='preButtonText' flex>
            {{ "ASKING_FOR_ACCESS" | $$ }}
          </p>
        </div>
        <p class='preButtonDetailedText'>{{ "WAITING_FOR_ACCESS" | $$({ name: contact.name }) }}</p>
        <paper-button class='grey' raised on-tap='{{ cancelRequest }}'>{{ "CANCEL_REQUEST" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.gettingConsentState != GettingConsentState.REMOTE_OFFERED_LOCAL_NO_ACTION }}'>
        <p class='preButtonText'>{{ "OFFERED_YOU_ACCESS" | $$ }}</p>
        <paper-button raised on-tap='{{ request }}'>{{ "ACCEPT_OFFER" | $$ }}</paper-button>
        <paper-button raised on-tap='{{ ignoreOffer }}'>{{ "IGNORE" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.gettingConsentState != GettingConsentState.REMOTE_OFFERED_LOCAL_IGNORED }}'>
        <p class='preButtonText'>{{ "OFFERED_YOU_ACCESS" | $$ }}</p>
        <paper-button class='grey' raised on-tap='{{ unignoreOffer }}'>{{ "STOP_IGNORING_OFFERS" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.gettingConsentState != GettingConsentState.NO_OFFER_OR_REQUEST }}'>
        <paper-button raised on-tap='{{ request }}'>
          {{ "ASK_FOR_ACCESS" | $$ }}
        </paper-button>
      </div>

    </core-collapse> <!-- end of getControls -->

    <core-collapse id='shareControls' class='expandedControls'
      hidden?='{{model.globalSettings.mode!=ui_constants.Mode.SHARE}}'
      opened='{{ contact.shareExpanded }}'>

      <div hidden?='{{ contact.sharingConsentState != SharingConsentState.LOCAL_OFFERED_REMOTE_ACCEPTED }}'>
        <p class='preButtonText'>{{ "GRANTED_FRIEND_ACCESS" | $$ }}</p>
        <paper-button class='grey' raised on-tap='{{ cancelOffer }}'>{{ "REVOKE_ACCESS" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.sharingConsentState != SharingConsentState.LOCAL_OFFERED_REMOTE_NO_ACTION }}'>
        <paper-button class='grey' raised on-tap='{{ cancelOffer }}'>{{ "CANCEL_OFFER" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.sharingConsentState != SharingConsentState.REMOTE_REQUESTED_LOCAL_NO_ACTION }}'>
        <div horizontal layout>
          <core-icon icon='mail'></core-icon>
          <p class='preButtonText' flex>
            {{ "FRIEND_REQUESTS_ACCESS" | $$({ name: contact.name }) }}
          </p>
        </div>
        <paper-button raised on-tap='{{ offer }}'>{{ "GRANT" | $$ }}</paper-button>
        <paper-button raised on-tap='{{ ignoreRequest }}'>{{ "IGNORE" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.sharingConsentState != SharingConsentState.REMOTE_REQUESTED_LOCAL_IGNORED }}'>
        <p class='preButtonText'>{{ "FRIEND_REQUESTED_ACCESS" | $$ }}</p>
        <paper-button class='grey' raised on-tap='{{ unignoreRequest }}'>{{ "STOP_IGNORING_REQUESTS" | $$ }}</paper-button>
      </div>

      <div hidden?='{{ contact.sharingConsentState != SharingConsentState.NO_OFFER_OR_REQUEST }}'>
        <p class='preButtonText'>{{ "ACCESS_NOT_GRANTED" | $$ }}</p>
        <paper-button raised on-tap='{{ offer }}'>{{ "OFFER_ACCESS" | $$ }}</paper-button>
      </div>
    </core-collapse> <!-- end of shareControls -->

  </template>

  <script src='contact.js'></script>

</polymer-element>
