<link rel='import' href='../../bower/paper-button/paper-button.html'>
<link rel='import' href='../../bower/paper-input/paper-input-decorator.html'>
<link rel='import' href='bubble.html'>
<link rel='import' href='app-bar.html'>

<polymer-element name='uproxy-copypaste' attributes='' fit>
  <template>
    <style>
    p {
      text-align: left;
    }
    div#wrapper {
      margin-left: 20px;
      margin-right: 20px;
      overflow: auto;
    }
    div.subsection {
      padding-top: 5px;
      padding-bottom: 20px;
    }

    .statusRow {
      width: 100%;
      height: 58px;
      background-color: #283230;
    }
    .statusRow .statusText {
      color: #fff;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 19px;
      white-space: nowrap;
      font-size: 14px;
    }
    .statusText, .statusText [flex] {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .statusRow core-icon {
      padding-right: 20px;
    }
    .statusRow a, .statusRow core-icon {
      color: #0EC5AF;
    }
    uproxy-bubble {
      z-index: 1;
    }
    uproxy-app-bar + uproxy-bubble {
      top: 0px !important;
    }
    .centered {
      text-align: center;
    }
    </style>

    <core-signals on-core-signal-copypaste-back='{{ exitMode }}'></core-signals>
    <core-signals on-core-signal-copypaste-init='{{ init }}'></core-signals>

    <core-header-panel fit>
      <uproxy-app-bar class='core-header' disableback='{{ ui.copyPasteState.localGettingFromRemote === GettingState.GETTING_ACCESS || ui.copyPasteState.localSharingWithRemote === SharingState.SHARING_ACCESS }}' on-go-back='{{ handleBackClick }}'>
        <span hidden?='{{ SharingState.NONE === ui.copyPasteState.localSharingWithRemote }}'>
          {{ 'SHARE_ONE_TIME' | $$ }}
        </span>
        <span hidden?='{{ SharingState.NONE !== ui.copyPasteState.localSharingWithRemote || GettingState.NONE === ui.copyPasteState.localGettingFromRemote }}'>
          {{ 'REQUEST_ONE_TIME' | $$ }}
        </span>
        <span hidden?='{{ SharingState.NONE !== ui.copyPasteState.localSharingWithRemote || !(SharingState.NONE !== ui.copyPasteState.localSharingWithRemote || GettingState.NONE === ui.copyPasteState.localGettingFromRemote) }}'>
          {{ 'START_ONE_TIME' | $$ }}
        </span>
      </uproxy-app-bar>

      <uproxy-bubble active='{{ ui.copyPasteError === ui_constants.CopyPasteError.BAD_URL }}' on-closed='{{ dismissError }}' class='error'>
        {{ 'ERROR_PARSING_LINK' | $$ }}
      </uproxy-bubble>

      <div class='content' fit>
        <div vertical layout fit>
          <div id='wrapper' flex>
            <div id='nothing' hidden?='{{ ui.copyPasteState.localGettingFromRemote !== GettingState.NONE || ui.copyPasteState.localSharingWithRemote !== SharingState.NONE }}'>
              <p>
                {{ 'NO_LONGER_GETTING' | $$ }}
              </p>

              <div class='centered'>
                <paper-button on-tap='{{ startGetting }}'>
                  {{ 'START_NEW_CONNECTION' | $$ }}
                </paper-button>
              </div>

              <uproxy-bubble active='{{ ui.copyPasteError === ui_constants.CopyPasteError.FAILED }}' on-closed='{{ dismissError }}' class='error'>
                {{ 'ERROR_STARTING_CONNECTION' | $$ }}
              </uproxy-bubble>

              <p>{{ 'SEND_CONNECTION_LINK' | $$ }}</p>
            </div>

            <div id='getting' hidden?='{{ ui.copyPasteState.localGettingFromRemote === GettingState.NONE || ui.copyPasteState.localSharingWithRemote !== SharingState.NONE }}'>
              <div class='link' hidden?='{{ ui.copyPasteState.localGettingFromRemote !== GettingState.TRYING_TO_GET_ACCESS }}'>

                <div class='subsection'>
                  <p>
                    {{ 'COPY_CONNECTION_LINK' | $$ }}
                  </p>

                  <paper-input-decorator label="{{ 'LOADING' | $$ }}" layout vertical>
                    <input readonly is='core-input' on-tap='{{ select }}' value='https://www.uproxy.org/request/{{ ui.copyPasteGettingMessages | encodeMessage }}' />
                  </paper-input-decorator>
                </div>

                <div class='subsection'>
                  <p>
                    {{ 'FRIEND_NEEDS_TO_CLICK' | $$ }}
                  </p>

                  <paper-input-decorator label="{{ 'ONE_TIME_LINK_INPUT_DESCRIPTION' | $$ }}" layout vertical error="{{ 'ONE_TIME_LINK_INPUT_ERROR' | $$ }}" isInvalid='{{ gettingLinkError }}'>
                    <input is='core-input' value='{{ gettingResponse }}' />
                  </paper-input-decorator>

                  <paper-button raised on-tap='{{ submitGettingLink }}'
                      hidden?='{{ !showGettingSubmit }}'>
                    {{ 'SUBMIT_ONE_TIME_LINK' | $$ }}
                  </paper-button>
                </div>

              </div>

              <div class='connected' hidden?='{{ ui.copyPasteState.localGettingFromRemote !== GettingState.GETTING_ACCESS }}'>
                <p>{{ 'ONE_TIME_GETTING_SUCCESS' | $$ }}</p>

                <p>
                  <span hidden?='{{ ui.copyPastePendingEndpoint === null}}'>
                    {{ 'START_ONE_TIME_INSTRUCTION' | $$ }}
                  </span>
                  <span hidden?='{{ ui.copyPastePendingEndpoint !== null}}'>
                    {{ 'STOP_ONE_TIME_INSTRUCTION' | $$ }}
                  </span>
                </p>

                <div class='centered'>
                  <paper-button raised on-tap='{{ startProxying }}'
                      hidden?='{{ ui.copyPastePendingEndpoint === null }}'>
                    {{ 'START_GETTING' | $$ }}
                  </paper-button>

                  <paper-button raised class='grey' on-tap='{{ stopGetting }}'
                      hidden?='{{ ui.copyPastePendingEndpoint !== null }}'>
                    {{ 'STOP_GETTING' | $$ }}
                  </paper-button>
                </div>

                <uproxy-bubble active='{{ ui.copyPasteError === ui_constants.CopyPasteError.UNEXPECTED }}' on-closed='{{ dismissError }}'>
                  <p>{{ 'ONE_TIME_GETTING' | $$ }}</p>
                  <p>
                    {{ 'STOP_ONE_TIME_GETTING_BEFORE_NEW' | $$ }}
                  </p>
                </uproxy-bubble>
              </div>
            </div>

            <div id='sharing' hidden?='{{ ui.copyPasteState.localSharingWithRemote === SharingState.NONE }}'>
              <div class='link' hidden?='{{ ui.copyPasteState.localSharingWithRemote !== SharingState.TRYING_TO_SHARE_ACCESS }}'>
                <p>{{ 'FRIEND_REQUESTED_ONE_TIME' | $$ }}</p>

                <p>
                  {{ 'HOW_TO_OFFER_ONE_TIME' | $$ }}
                </p>


                <paper-input-decorator label="{{ 'LOADING' | $$ }}" layout vertical>
                  <input readonly is='core-input' on-tap='{{ select }}' value='https://www.uproxy.org/offer/{{ ui.copyPasteSharingMessages | encodeMessage }}' />
                </paper-input-decorator>

                <div>
                  <a href='#' on-tap='{{ switchToGetting }}'>{{ 'GET_ONE_TIME_INSTEAD' | $$ }}</a>

                  <uproxy-bubble active='{{ ui.copyPasteError === ui_constants.CopyPasteError.UNEXPECTED }}' on-closed='{{ dismissError }}'>
                    <p>
                      {{ 'TRYING_TO_SHARE_ONE_TIME' | $$ }}
                    </p>

                    <p>
                      {{ 'GET_ONE_TIME_INSTEAD_INSTRUCTION' | $$ }}
                    </p>
                  </uproxy-bubble>
                </div>

              </div>

              <div class='connected' hidden?='{{ ui.copyPasteState.localSharingWithRemote !== SharingState.SHARING_ACCESS }}'>
                <p>{{ 'ONE_TIME_SHARING_SUCCESS' | $$ }}</p>

                <p>{{ 'ONE_TIME_SHARING_STOP_DIRECTIONS' | $$ }}</p>

                <paper-button raised class='grey' on-tap='{{ stopSharing }}'>{{ 'STOP_ONE_TIME_SHARING' | $$ }}</paper-button>

                <uproxy-bubble active='{{ ui.copyPasteError === ui_constants.CopyPasteError.UNEXPECTED }}' on-closed='{{ dismissError }}' class='error'>
                  <p>{{ 'ONE_TIME_SHARING' | $$ }}</p>

                  <p>
                    {{ 'STOP_ONE_TIME_SHARING_BEFORE_NEW' | $$ }}
                  </p>
                </uproxy-bubble>
              </div>
            </div>
          </div> <!-- #wrapper -->

          <div id='status'>
            <div class='statusRow' hidden?='{{ ui.copyPasteState.localGettingFromRemote !== GettingState.GETTING_ACCESS || ui.copyPastePendingEndpoint !== null }}'>
              <div class='statusText'>
                <core-icon icon='uproxy-icons:receive'></core-icon>
                {{ 'GETTING_ACCESS_FROM_FRIEND' | $$ }}
              </div>
            </div>

            <div class='statusRow' hidden?='{{ ui.copyPasteState.localSharingWithRemote !== SharingState.SHARING_ACCESS }}'>
              <div class='statusText'>
                <core-icon icon='uproxy-icons:share'></core-icon>
                {{ 'SHARING_ACCESS_WITH_FRIEND' | $$ }}
              </div>
            </div>
          </div>

        </div>
      </div> <!-- #content -->
    </core-header-panel>
  </template>
  <script src='copypaste.js'></script>
</polymer-element>
