<link rel='import' href='../../bower/polymer/polymer.html'>
<link rel='import' href='../../bower/paper-input/paper-input-decorator.html'>
<link rel='import' href='../../bower/paper-button/paper-button.html'>
<link rel='import' href='../../bower/core-icons/core-icons.html'>

<polymer-element name='uproxy-description' attributes=''>
  <template>
    <style>
      paper-input-decorator {
        font-size: 14px;
        padding: 0;
        margin-bottom: 5px;
        color: rgb(112, 112, 112);
      }
      paper-button {
        width: 70px;
        margin-left: 0px;
        margin-right: 5px;
        font-size: 10px;
      }
      #savedDescription {
        font-size: 14px;
        color: rgb(112, 112, 112);
        padding-top: 7px;
        cursor: pointer;
      }
      #savedDescription core-icon {
        height: 16px;
        width: 16px;
        margin: 0px 0px 4px 3px;
        opacity: 0.6;
        float: right;
      }
      #savedDescription:hover core-icon {
        opacity: 1;
      }
    </style>

    <div id='editingDescription' hidden?='{{ !editing }}'>
      <paper-input-decorator label='{{ "DESCRIPTION" | $$ }}'>
        <input is="core-input" value='{{ descriptionInput }}'>
      </paper-input-decorator>
      <paper-button raised on-tap="{{ saveDescription }}">{{ "SAVE" | $$ }}</paper-button>
      <paper-button raised on-tap="{{ cancelEditing }}">{{ "CANCEL" | $$ }}</paper-button>
    </div>
    <div id='savedDescription' hidden?='{{ editing }}' on-tap='{{ editDescription }}'>
      {{ showDescription(model.globalSettings.description) }}
      <core-icon icon='create'></core-icon>
    </div>
  </template>
  <script src='description.js'></script>
</polymer-element>
