<link rel='import' href='../../bower/polymer/polymer.html'>
<link rel='import' href='../../bower/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../bower/paper-input/paper-input-decorator.html'>
<link rel='import' href='../../bower/paper-input/paper-autogrow-textarea.html'>
<link rel='import' href='../../bower/core-label/core-label.html'>
<link rel='import' href='../../bower/core-tooltip/core-tooltip.html'>
<link rel='import' href='../../bower/core-overlay/core-overlay.html'>
<link rel='import' href='../../bower/core-signals/core-signals.html'>
<link rel='import' href='faq-link.html'>
<link rel='import' href='dialog.html'>

<polymer-element name='uproxy-feedback' attributes=''>
  <template>
    <style>
    :host {
      text-align: center;
      font-color: #009688;  /* dark green */
    }
    uproxy-app-bar {
      font-size: 18px;
    }
    #feedbackPanel {
      height: 100%;
      width: 100%;
      background-color: white;
    }
    #container {
      height: 100%;
    }
    #formContainer {
      padding: 30px;
      text-align: start;
      color: #009688;
      overflow: auto;
    }
    .inputLabel {
      margin: 0;
      font-weight: 600;
    }
    #emailInput {
      margin: 0;
    }
    #logCheckboxContainer {
      margin: 0.5em 0em;
    }
    #logCheckboxLabel {
      cursor: pointer;
      text-indent: 10px;
      display: inline-block;
    }
    #logCheckbox {
      vertical-align: middle;
    }
    #moreInfo {
      color: grey;
      margin-top: 1em;
      font-size: 12px;
      line-height: 20px;
    }
    #sendFeedback {
      width: 100%;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-top: 1px solid rgb(221, 221, 221);
      color: #009688;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      background-color: #ffffff;
      text-transform: uppercase;
    }
    core-icon[icon="launch"],
    core-icon[icon="help"]{
      height: 15px;
      color: grey;
      opacity: 0.6;
      margin-bottom: 2px;
      -webkit-transition: all 0.23s !important;
      -moz-transition: all 0.23s !important;
      transition: all 0.23s !important;
    }
    core-icon[icon="launch"]:hover,
    core-icon[icon="help"]:hover{
      opacity: 1;
    }
    core-tooltip::shadow #tooltip {
      /* Without this, the first time you view the
         tooltip, it appears off center. */
      left: -64px !important;
    }
    paper-input-decorator[id=feedbackDecorator] /deep/ .unfocused-underline,
    paper-input-decorator[id=feedbackDecorator] /deep/ .focused-underline {
      /* Remove the underline from the Feedback textbox. */
      height: 0px;
    }
    paper-input-decorator[id=emailDecorator] {
      padding: 13px 0px 32px 0px;
    }
    paper-input-decorator[id=feedbackDecorator] {
      padding: 13px 0px 24px 0px;
    }

    paper-input-decorator {
      font-size: 16px;
    }
    paper-input-decorator::shadow .input-body {
      color: #707070;
      padding-bottom: 4px;
    }
    paper-checkbox::shadow #ink[checked] {
      color: white;
    }
    paper-checkbox::shadow #checkbox.checked {
      background-color: #009688;
      border-color: #009688;
    }
    paper-checkbox::shadow #checkbox {
      border-color: grey;
    }
    uproxy-action-dialog {
      top: 30%;
      z-index: 1002; /* Must be greater than core-overlay-backdrop */
    }
    #sendingFeedback {
      text-align: center;
      font-size: 16px;
    }
    #feedbackDecorator {
      height: 190px;
    }
    #feedbackPaperTextarea {
      height: 190px;
      margin: 0em;
    }
    paper-autogrow-textarea::shadow .textarea-container {
      padding: 0.25em;
      background-color: rgb(240,240,240);
      border-radius: 2px;
      color: #707070;
    }
    paper-autogrow-textarea::shadow .mirror-text {
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    }
    </style>

    <!-- Listen for the 'open-feedback' event, which is fired by the settings and splash pages. -->
    <core-signals on-core-signal-open-feedback="{{ open }}"></core-signals>

    <core-overlay id='feedbackPanel'>
      <div id='container' vertical layout>
        <uproxy-app-bar on-go-back='{{ close }}'>
          {{ "SUBMIT_FEEDBACK_SENTENCE_CASE" | $$ }}
        </uproxy-app-bar>
        <div id='formContainer' flex>
          <p class='inputLabel'>{{ "EMAIL_TITLE" | $$ }}</p>
          <paper-input-decorator id='emailDecorator'
              label='{{ "EMAIL_PLACEHOLDER" | $$ }}'>
            <input id="emailInput"
                   is="core-input"
                   value='{{ email }}'>
          </paper-input-decorator>
          <p class='inputLabel'>{{ "FEEDBACK_TITLE" | $$ }}</p>
          <paper-input-decorator id='feedbackDecorator'
              label='{{ "FEEDBACK_PLACEHOLDER" | $$ }}'>
            <paper-autogrow-textarea id="feedbackPaperTextarea">
              <textarea id="feedbackInput"
                     value='{{ feedback }}'>
              </textarea>
            </paper-autogrow-textarea>
          </paper-input-decorator>
          <div id='logCheckboxContainer'>
            <paper-checkbox for id='logCheckbox'></paper-checkbox>
            <span id='logCheckboxLabel' on-tap='{{ viewLogs }}'>
              {{ "NETWORK_AND_LOGS" | $$ }}
            </span>
            <uproxy-faq-link anchor='doesUproxyLogData'>
              <core-icon icon="help"></core-icon>
            </uproxy-faq-link>
          </div>
          <p id='moreInfo'>
            {{ "P_I_I_MESSAGE" | $$ }}
          </p>
        </div> <!-- end of form container -->
        <div id='sendFeedback' on-tap='{{ sendFeedback }}'>{{ "SUBMIT_FEEDBACK" | $$ }}</div>
      </div>
    </core-overlay>
    <uproxy-action-dialog backdrop layered="false" id='sendingFeedbackDialog' autoCloseDisabled='true'>
      <div id="SENDING_FEEDBACK">
        {{ "SENDING_FEEDBACK" | $$ }}<br>
        <paper-progress indeterminate='true'></paper-progress>
      </div>
    </uproxy-action-dialog>
  </template>
  <script src='feedback.js'></script>
</polymer-element>
