<link rel="import" href="../../bower/polymer/polymer.html">
<link rel='import' href='../../bower/core-icons/core-icons.html'>
<link rel="import" href="../../bower/paper-button/paper-button.html">

<polymer-element name='uproxy-instance' attributes='user, instance, network'>
  <template>
    <style>
    #wrapper.offline {
      opacity: 0.5;
    }
    paper-button {
      font-size: 1em;
      margin: 14px 5px 5px 2px;
      padding-left: 1em;
      padding-right: 1em;
    }
    .preButtonText {
      margin: 0;
      font-size: 14px;
      color: rgba(0,0,0,0.54);
    }
    #description {
      color: #333;
      margin-bottom: 0;
    }
    core-icon[icon=query-builder] {
      height: 16px;
      width: 16px;
      color: rgba(0,0,0,0.54);
      margin-top: 2px;
      margin-right: 2px;
    }
    </style>

    <div id='wrapper' class='{{ instance.isOnline ? "online" : "offline" }}'
         hidden?='{{model.globalSettings.mode!=ui_constants.Mode.GET}}'>

      <p id='description' hidden?='{{ !instance.description }}'>
        <bdi>{{ instance.description }}</bdi>
      </p>

      <!-- It is assumed that all uproxy-instances are taken from
         user.offeringInstances and are therefore giving us access -->

      <!-- not getting or trying to get access -->
      <div hidden?='{{ instance.localGettingFromRemote != GettingState.NONE }}'>
        <paper-button raised on-tap='{{ start }}' disabled?='{{ !ui.browserApi.canProxy }}'>
          {{ "START_GETTING" | $$ }}
        </paper-button>
      </div>

      <!-- trying to get access -->
      <div hidden?='{{ instance.localGettingFromRemote != GettingState.TRYING_TO_GET_ACCESS }}'>
        <paper-button class='grey' raised on-tap='{{ stop }}'>
          {{ "CANCEL" | $$ }}
        </paper-button>
      </div>

      <!-- currently getting access -->
      <div hidden?='{{ instance.localGettingFromRemote != GettingState.GETTING_ACCESS }}'>
        <paper-button class='grey' raised on-tap='{{ stop }}'>
          {{ "STOP_GETTING" | $$ }}
        </paper-button>
      </div>

    </div> <!-- end of wrapper -->

  </template>
  <script src='instance.js'></script>
</polymer-element>
