<link rel='import' href='../../bower/polymer/polymer.html'>
<link rel='import' href='../../bower/paper-button/paper-button.html'>
<link rel='import' href='../../bower/paper-progress/paper-progress.html'>
<link rel='import' href='dialog.html'>

<polymer-element name='uproxy-reconnect'>
  <template>
    <style>
    :host {
      text-align: center;
      font-color: #009688;  /* dark green */
    }
    paper-button {
      margin: 10px 2px 3px 2px;
      font-size: 12px;
    }
    uproxy-dialog {
      top: 20%;
      min-width: 305px;
      z-index: 1002; /* Must be greater than core-overlay-backdrop */
    }
    paper-progress {
      margin-bottom: 1em;
    }
    </style>

    <uproxy-dialog backdrop opened='{{ model.reconnecting }}'
        layered='false' id='reconnectDialog' autoCloseDisabled='true'>
      <div>
        <p>{{ "ATTEMPTING_RECONNECT" | $$ }}</p>
        <paper-progress indeterminate='true'></paper-progress>
        <paper-button on-tap='{{ logout }}'>{{ "LOGOUT" | $$ }}</paper-button>
      </div>
    </uproxy-dialog>

  </template>
  <script src='reconnect.js'></script>
</polymer-element>
