<link rel="import" href="../../bower/polymer/polymer.html">
<link rel="import" href="../../bower/core-signals/core-signals.html">
<link rel="import" href="../../bower/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../../bower/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower/paper-toast/paper-toast.html">
<link rel="import" href="../../bower/core-tooltip/core-tooltip.html">
<link rel="import" href="i18n-filter.html">
<link rel="import" href='splash.html'>
<link rel="import" href='roster.html'>
<link rel="import" href='settings.html'>
<link rel="import" href='logs.html'>
<link rel='import' href='copypaste.html'>
<link rel='import' href='bubble.html'>
<link rel='import' href='feedback.html'>
<link rel='import' href='advanced-settings.html'>
<link rel='import' href='reconnect.html'>
<link rel='import' href='troubleshoot.html'>
<link rel='import' href='dialog.html'>
<link rel='import' href='browser-elements.html'>
<link rel='import' href='icons.html'>
<link rel='import' href='proxy-error.html'>

<polymer-element name='uproxy-root' attributes='model' on-update-view='{{ updateView }}' on-open-dialog='{{ openDialog }}'>

  <template>
    <style>
      :host {
        font-family: Roboto, sans-serif;
        text-align: start;
        color: rgb(112, 112, 112);
      }
      paper-tabs::shadow #selectionBar {
        /*
         * we are seeing an issue with the bar when initially loading it where
         * the width will be set to 0 since the actual buttons are not rendered
         * yet, this will cause the default to be 50% instead of 0
         */
        width: 50%;
        background-color: #20F1DE;
      }
      paper-tab {
        cursor: pointer;
        font-weight: 400;
        letter-spacing: 0.25px;
      }
      paper-tab::shadow #ink {
        color: #20F1DE;
        opacity: .4;
      }
      /* Since notification number should always be opacity = 1, we force
         the .tab-content to be opacity = 1 and instead add the .notSelected class to just tab text. There's no way to have .tab-content opacity
         of 0.6 while its child element (the number) has opacity 1.  */
      paper-tab::shadow .tab-content{
        font-size: 14px;
        text-transform: uppercase;
        opacity: 1 !important;
      }
      paper-tab .notSelected {
        opacity: 0.6;
      }
      paper-tab .tabNotificationNumber {
        margin-left: 10px;
        margin-bottom: 1px;
        padding: 3px 6px;
        background-color: #11B6A7;
        border-radius: 50%;
        font-weight: 400;
        font-size: 10px;
      }
      paper-tab .withNotification {
        padding-left: 10px;
      }
      core-drawer-panel {
        overflow: auto;
      }
      core-header-panel {
        height: 100%;
      }
      core-header-panel::shadow #dropShadow {
        box-shadow: inset 0px 5px 6px -3px rgba(0,0,0,0.13);
      }
      core-toolbar {
        height: 105px;
        width: 100%;
      }
      core-toolbar::shadow #topBar {
        padding: 0px 16px;
        height: 60px;
      }
      core-toolbar core-icon[icon="menu"] {
        opacity: 0.6;
        margin: 0px;
        -webkit-transition: all 0.23s !important;
        -moz-transition: all 0.23s !important;
        transition: all 0.23s !important;
      }
      core-toolbar core-icon[icon="menu"]:hover {
        opacity: 1;
        cursor: pointer;
      }
      core-toolbar #title {
        font-size: 20px;
        margin: 0px 36px;
        letter-spacing: 0.25px;
      }
      core-toolbar core-icon.status {
        cursor: pointer;
        color: #006A5A;
        height: 20px;
        width: 20px;
      }
      #settings {
        top: 0;
      }
      #rosterContainer {
        height: 100%;
      }
      #rosterContainer #roster-panel {
        overflow: auto;
      }
      #rosterContainer uproxy-roster {
        position: relative;
        overflow-y: auto;
        display: block;
      }
      .statusRow {
        width: 100%;
        height: 58px;
        background-color: #283230;
      }
      .statusRow .statusText {
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 19px;
        white-space: nowrap;
        font-size: 14px;
      }
      .statusText, .statusText [flex] {
        /* cut off the statusText itself, or any contained flex-grow element */
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .statusRow core-icon {
        padding-right: 20px;
      }
      .statusRow a, .statusRow core-icon {
        color: #0EC5AF;
      }
      .statusRow.error core-icon {
        color: #DD2D2D;
      }
      uproxy-bubble {
        z-index: 1;
        font-size: 13px; /* reset to normal, core-toolbar interferes with font sizes */
      }
      uproxy-action-dialog {
        top: 20%;
        z-index: 1002; /* Must be greater than core-overlay-backdrop */
      }
      uproxy-action-dialog::shadow #scroller {
        overflow: visible;
      }
      .core-overlay-backdrop {
        z-index: 1001;
      }
      uproxy-action-dialog paper-button {
        margin-bottom: 3px;
      }
      uproxy-faq-link .linkText {
        text-decoration: underline;
        color: rgba(0,0,0,0.40);
      }
      #disconnectDialog {
        text-align: center;
      }
      #disconnectDialog h1 {
        font-size: 1.25em;
      }
      #disconnectDialog img {
        height: 50px;
        width: 50px;
      }
      #disconnectDialog #disconnectDialogText {
        text-align: start;
      }
      #disconnectDialog paper-button {
        font-size: 12px;
      }
      paper-toast {
        position: fixed;
        left: 12px;
        right: 12px;
        background-color: #283230;
        padding: 16px 16px 12px 20px;
        font-size: 12px;
      }
      paper-toast #toastHelpLink {
        text-transform: uppercase;
        color: #47B5AA;
      }
    </style>

    <core-signals on-core-signal-close-settings="{{ closeSettings }}"></core-signals>

    <div id='browserElementContainer' hidden?='{{ui_constants.View.BROWSER_ERROR !== ui.view}}'></div>

    <uproxy-copypaste id='copypaste' hidden?='{{ ui_constants.View.COPYPASTE !== ui.view }}'>
    </uproxy-copypaste>

    <uproxy-feedback id='feedback'></uproxy-feedback>

    <uproxy-advanced-settings id='advancedSettings'></uproxy-advanced-settings>

    <uproxy-splash id='splash' hidden?='{{ui_constants.View.SPLASH!=ui.view}}'>
    </uproxy-splash>

    <core-drawer-panel id='mainPanel' forceNarrow='true' drawerWidth='300px'
        hidden?='{{ ui.view !== ui_constants.View.ROSTER }}' rightDrawer='{{ dir == "rtl" ? true : false }}'>
      <core-header-panel drawer>
        <div class='content' fit>
          <uproxy-settings id='settings' fit></uproxy-settings>
        </div>
      </core-header-panel>
      <core-header-panel main
          hidden?='{{ ui.view !== ui_constants.View.ROSTER }}'>

        <core-toolbar>

          <core-icon icon="menu" core-drawer-toggle></core-icon>
          <div id='title' flex>uProxy</div>

          <uproxy-bubble class='error' active='{{ ui.copyPasteError === ui_constants.CopyPasteError.LOGGED_IN }}' on-closed='{{ dismissCopyPasteError }}'>
            <h3>{{ "CANNOT_OPEN_ONE_TIME_TITLE" | $$ }}</h3>
            <p>
              {{ "CANT_OPEN_ONE_TIME_MESSAGE" | $$ }}
            </p>
          </uproxy-bubble>

          <core-tooltip id='statsTooltip' label='{{ "STATS_ENABLED_TOOLTIP" | $$ }}' position='{{ dir == "rtl" ? "right" : "left" }}'>
            <core-icon icon='uproxy-icons:stats-enabled' class='status'
              hidden?='{{ !model.globalSettings.statsReportingEnabled }}' on-tap='{{ statsIconClicked }}'></core-icon>
          </core-tooltip>

          <uproxy-bubble on-closed='{{ closeStatsBubble }}' active='{{ model.globalSettings.statsReportingEnabled && statsDialogOrBubbleOpen }}'>
            <h3>{{ "STATS_ENABLED_TITLE" | $$ }}</h3>
            <p>{{ "STATS_ENABLED_MESSAGE" | $$ }}</p>
          </uproxy-bubble>

          <core-tooltip label='{{ "SHARING_ENABLED_TOOLTIP" | $$ }}' position='{{ dir == "rtl" ? "right" : "left" }}'>
            <core-icon id='sharingEnabledIcon' icon='uproxy-icons:share' class='status'
              hidden?='{{ !isSharingEnabledWithOthers }}'
              on-tap='{{ setShareMode }}'></core-icon>
          </core-tooltip>

          <uproxy-bubble on-closed='{{ closedSharing }}' active='{{ !model.globalSettings.hasSeenSharingEnabledScreen && isSharingEnabledWithOthers }}'>
            <h3>{{ "SHARING_ENABLED_TITLE" | $$ }}</h3>
            <p>{{ "SHARING_ENABLED_MESSAGE" | $$ }}</p>
          </uproxy-bubble>

          <div class='bottom fit' dir="ltr">
            <paper-tabs id='modeTabs' selected='{{ model.globalSettings.mode }}' on-core-activate='{{ tabSelected }}'>
              <paper-tab>
                <span class='{{ {notSelected: model.globalSettings.mode != ui_constants.Mode.GET, withNotification: model.contacts.getAccessContacts.pending.length > 0} | tokenList }}'>{{ "GET_ACCESS" | $$ }}</span>
                <span class='tabNotificationNumber'
                  hidden?='{{ model.contacts.getAccessContacts.pending.length === 0 }}'>
                  {{ model.contacts.getAccessContacts.pending.length }}
                </span>
              </paper-tab>
              <paper-tab>
                <span class='{{ {notSelected: model.globalSettings.mode != ui_constants.Mode.SHARE, withNotification: model.contacts.shareAccessContacts.pending.length > 0} | tokenList }}'>{{ "SHARE_ACCESS" | $$ }}</span>
                <span class='tabNotificationNumber'
                  hidden?='{{ model.contacts.shareAccessContacts.pending.length === 0 }}'>
                  {{ model.contacts.shareAccessContacts.pending.length }}
                </span>
              </paper-tab>
            </paper-tabs>
          </div>
        </core-toolbar>

        <!--
          core-header class ensures this gets inserted in the header portion of
          core-header-panel and it is positioned below the toolbar (see
          https://www.polymer-project.org/0.5/docs/elements/core-header-panel.html)
        -->
        <uproxy-bubble class='core-header' on-closed='{{ closedWelcome }}' active='{{ !model.globalSettings.hasSeenWelcome && !statsDialogOrBubbleOpen }}'>
          <h3>{{ "WELCOME" | $$ }}</h3>
          <p>
            {{ "WELCOME_MESSAGE" | $$ }}
          </p>
        </uproxy-bubble>

        <div class='content' fit>

          <div id='rosterContainer' vertical layout>
            <div id='roster-panel' flex>
              <uproxy-roster id='get-roster'
                  hidden?='{{model.globalSettings.mode!=ui_constants.Mode.GET}}'
                  contacts='{{model.contacts.getAccessContacts}}'
                  mode='{{ui_constants.Mode.GET}}'>
              </uproxy-roster>
              <uproxy-roster id='share-roster'
                  hidden?='{{model.globalSettings.mode!=ui_constants.Mode.SHARE}}'
                  contacts='{{model.contacts.shareAccessContacts}}'
                  mode='{{ui_constants.Mode.SHARE}}'>
              </uproxy-roster>
            </div>

            <div id='status'>
              <div class='statusRow error' hidden?='{{ ui.browserApi.canProxy }}'>
                <div class='statusText' horizontal layout>
                  <core-icon icon='warning'></core-icon>
                  <span flex>
                    Other proxy settings in use
                  </span>
                  <a href='#' on-tap='{{ openProxyError }}'>GET HELP</a>
                </div>
              </div>
              <div class='statusRow' hidden?='{{!ui.gettingStatus}}'>
                <div class='statusText'>
                  <core-icon icon='uproxy-icons:receive'></core-icon>
                  {{ui.gettingStatus}}
                </div>
              </div>
              <div class='statusRow' hidden?='{{!ui.sharingStatus}}'>
                <div class='statusText'>
                  <core-icon icon='uproxy-icons:share'></core-icon>
                  {{ui.sharingStatus}}
                </div>
              </div>
              <div class='statusRow' hidden?='{{!ui.availableVersion}}'>
                <div class='statusText' horizontal layout>
                  <span flex>
                    {{ "UPDATE_AVAILABLE" | $$ }}
                  </span>
                  <a href='#' on-tap='{{ restart }}'>{{ "RESTART_UPROXY_UPDATE" | $$ }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </core-header-panel>
    </core-drawer-panel>

    <!-- Dialog is opened when .toggle() is called in openDialog -->
    <!-- Without layered="false", styling needs to be prefixed with 'html /deep/' in order to have effect on the dialog contents.'  -->
    <uproxy-action-dialog backdrop layered="false" heading="{{ dialog.heading }}" id="dialog">
      <p>{{ dialog.message }}</p>
      <template repeat='{{ button in dialog.buttons }}'>
        <paper-button
          affirmative?='{{ !button.dismissive }}' dismissive?='{{ button.dismissive }}'
          class='dialogButton' on-tap='{{ dialogButtonClick }}' data-signal='{{ button.signal }}'>
          {{button.text}}
        </paper-button>
      </template>
    </uproxy-action-dialog>

    <uproxy-action-dialog id='statsDialog' backdrop layered="false" heading='{{ "WELCOME" | $$ }}'>
      <p>
        {{ "ALPHA_MESSAGE" | $$ }}
        <uproxy-faq-link anchor='doesUproxyLogData'>
          <span class='linkText'>{{ "MORE_INFORMATION" | $$ }}</span>
        </uproxy-faq-link>{{ "CHANGE_STATS_CHOICE" | $$ }}
      </p>
      <p>{{ "ENABLE_METRICS" | $$ }}</p>
      <paper-button affirmative class='dialogButton' on-tap='{{ enableStats }}'>{{ "IM_IN" | $$ }}</paper-button>
      <paper-button dismissive class='dialogButton' on-tap='{{ disableStats }}'>{{ "NO_THANKS" | $$ }}</paper-button>
    </uproxy-action-dialog>

    <uproxy-action-dialog id='disconnectDialog' backdrop layered="false"
        opened="{{ core.disconnectedWhileProxying }}" autoCloseDisabled>
      <img src='../icons/128_error.png'>
      <div id="disconnectDialogText">
        <h1>{{ "DISCONNECTED_TITLE" | $$ }}</h1>
        <p>
          {{ "DISCONNECTED_MESSAGE" | $$ }}
        </p>
      </div>
      <paper-button class='dialogButton' on-tap='{{ revertProxySettings }}'>{{ "CONTINUE_BROWSING" | $$ }}</paper-button>
      <paper-button class='dialogButton' on-tap='{{ restartProxying }}'>{{ 'RESTART_PROXYING' | $$ }}</paper-button>
    </uproxy-action-dialog>

    <uproxy-troubleshoot titleText='{{ troubleshootTitle }}'></uproxy-troubleshoot>

    <uproxy-proxy-error id='proxyError'></uproxy-proxy-error>

    <paper-toast id='toast'
        text='{{ toastMessage }}' responsiveWidth='320px'
+        style='bottom: {{ topOfStatuses($.status.offsetHeight, ui.view == ui_constants.View.ROSTER && !$.feedback.opened) }}px;'
        duration='10000'>
      <div id='toastHelpLink' on-tap="{{ openTroubleshoot }}"
          hidden?='{{ !unableToShare && !unableToGet }}'>{{ "GET_HELP" | $$ }}
      </div>
    </paper-toast>

    <uproxy-reconnect></uproxy-reconnect>

  </template>

  <script src='root.js'></script>

</polymer-element>
