<link rel="import" href="../../bower/polymer/polymer.html">
<link rel='import' href='../../bower/paper-progress/paper-progress.html'>
<link rel="import" href="../../bower/core-signals/core-signals.html">
<link rel="import" href="../../bower/core-icons/social-icons.html">
<link rel='import' href='roster-group.html'>

<polymer-element name='uproxy-roster' attributes='contacts, mode'>

  <template>
    <style>
    #search {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 12px 16px;
      font-size: 14px;
      line-height: 20px;
      color: #888;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(221, 221, 221);
      -webkit-transition: all 0.23s !important;
      -moz-transition: all 0.23s !important;
      transition: all 0.23s !important;
    }
    #search:hover {
      border-color: #aaa;
    }
    ::-webkit-input-placeholder {
      color: #ccc;
    }
    #loadContacts {
      text-align: center;
      margin: 75px 80px;
    }
    #loadContacts div {
      font-size: 17px;
    }
    .no-friends {
      width: 150px;
      height: 150px;
      color: #cbcbcb;
    }
    #noContactsFound {
      margin-top: 0.75em;
    }
    #inviteFriends {
      font-size: 13px;
      padding-top: 10px;
      color: rgb(150,150,150);
    }
    #loadingContacts {
      margin-top: 0.5em;
    }
    paper-progress {
      margin-bottom: 1em;
    }
    hr {
      border: 0;
      margin-top: 32px;
      border-bottom: solid 1px;
      border-color: rgb(238, 238, 238);
    }
    </style>

    <!-- Listen for the 'login-success' event from root.ts; once logged in, show the loading contacts animation. -->
    <core-signals on-core-signal-login-success="{{ loadContacts }}"></core-signals>

    <!-- Shown if there are no contacts found so far -->
    <div id='loadContacts' hidden?='{{ hasContacts }}'>
      <core-icon icon="social:person" class="no-friends"></core-icon>
      <div id='loadingContacts' hidden?='{{ !loadingContacts }}'>
        {{ "LOADING_FRIENDS" | $$ }}<br>
        <paper-progress indeterminate='true'></paper-progress>
      </div>
      <div id='noContactsFound' hidden?='{{ loadingContacts }}'>
        {{ "NO_FRIENDS_ONLINE" | $$ }}
        <p id='inviteFriends'>{{ "TO_INVITE_FRIENDS" | $$ }}</p>
      </div>
    </div>

    <div hidden?='{{ !hasContacts }}'>
      <!-- Intentionally hiding search box. May decide to readd it later. -->
      <input type='text' id='search' placeholder='Search' value='{{ searchQuery }}' hidden></input>

      <!-- uProxy contacts offering access to or requesting access from user -->
      <uproxy-roster-group
          groupTitle='{{ (model.globalSettings.mode==ui_constants.Mode.GET ? "OFFERS" : "REQUESTS") | $$ }}'
          contacts='{{ contacts.pending }}'
          searchQuery='{{ searchQuery }}'
          mode='{{ mode }}'></uproxy-roster-group>

      <!-- Hide HR above Trusted if there are no Trusted contacts, or if there are no Pending contacts -->
      <hr color="#eee"
          hidden?='{{ contacts.pending.length == 0 || contacts.trustedUproxy.length == 0 }}'></hr>

      <!-- trusted uProxy contacts -->
      <uproxy-roster-group
          groupTitle='{{ (model.globalSettings.mode==ui_constants.Mode.GET ? "FRIENDS_WHO_SHARE" : "FRIENDS_WHO_CAN_GET") | $$ }}'
          contacts='{{ contacts.trustedUproxy }}'
          searchQuery='{{ searchQuery }}'
          mode='{{ mode }}'></uproxy-roster-group>

      <!-- Hide HR above Untrusted if there are no Untrusted contacts, or if there are no Trusted & Pending contacts -->
      <hr color="#eee"
          hidden?='{{ contacts.untrustedUproxy.length == 0 || (contacts.trustedUproxy.length == 0 && contacts.pending.length == 0) }}'></hr>

      <!-- untrusted uProxy contacts -->
      <uproxy-roster-group
          groupTitle='{{ "UPROXY_FRIENDS" | $$ }}'
          contacts='{{ contacts.untrustedUproxy }}'
          searchQuery='{{ searchQuery }}'
          mode='{{ mode }}'></uproxy-roster-group>
    </div>

  </template>

  <script src='roster.js'></script>

</polymer-element>
