<link rel='import' href='../../bower/polymer/polymer.html'>
<link rel='import' href='../../bower/paper-button/paper-button.html'>
<link rel='import' href='../../bower/paper-item/paper-item.html'>
<link rel="import" href="../../bower/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../bower/core-menu/core-menu.html">
<link rel='import' href='faq-link.html'>
<link rel='import' href='network.html'>

<polymer-element name='uproxy-splash' attributes=''>
  <template>
    <style>
    :host {
      display: block;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 1.1em;
      right: -100%;
      right: 0px;
      line-height: 24px;
    }
    h1 {
      font-size: 1.4em;
      color: #009688;  /* dark green */
      margin-bottom: 1.5em;
    }
    h1.uproxyTitle {
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      font-size: 40px;
      letter-spacing: -1px;
      margin-bottom: 1em;
    }
    h1.uproxyTitle .first-u {
      color: #10c9b1;
    }
    h1.sub {
      font-weight: normal;
    }
    #proxy-pic {
      opacity: 0.3;
    }
    .view {
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 50px;
      opacity: 1;
      z-index: 10;
      overflow: auto;
    }
    .view > p {
      line-height: 20px;
    }
    .view[hidden] {
      display: block !important;
      opacity: 0;
      z-index: -1;
    }
    paper-button {
      width: 150px;
    }
    uproxy-network {
      padding: 12px;
    }
    #nextWrapper {
      margin-top: 50px;
    }
    #oneTimeConnection {
      margin-bottom: 1.5em;
    }
    #submitFeedback {
      text-decoration: underline;
      cursor: pointer;
      display: inline-block;
      margin-top: 30px;
    }
    uproxy-faq-link {
      width: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
      border-top: 1px solid rgb(221, 221, 221);
      text-transform: uppercase;
    }
    #logo {
      margin-bottom: 1em;
      width: 114px;
      height: 114px;
    }
    .prevArrow {
      position: absolute;
      top: 8px;
      cursor: pointer;
      z-index: 11; /* Must be greater than z-index of .view */
      margin-left: 8px;
      margin-right: 8px;
    }
    #intro1, #networks {
      height: 100%;
    }
    #languageLink core-icon {
      height: 20px;
      width: 20px;
    }
    #languageLink paper-item {
      font-size: 13px;
      line-height: 14px;
    }
    #languageLink paper-item::shadow .button-content {
      padding: 0;
    }
    </style>

    <div horizontal layout>
      <core-icon icon='arrow-back' on-tap='{{prev}}' class='prevArrow'
          hidden?='{{SPLASH_STATES.INTRO==model.globalSettings.splashState}}'></core-icon>
    </div>

    <div vertical layout id='intro1' hidden?='{{SPLASH_STATES.INTRO!==model.globalSettings.splashState}}'>
      <div class='view' flex>
        <core-icon id='logo' icon="uproxy-logo:logo"></core-icon>
        <h1 class='uproxyTitle'><span class='first-u'>u</span>Proxy</h1>
        <p>
          {{ "ABOUT_UPROXY" | $$ }}
        </p>

        <div id='nextWrapper'>
          <paper-button raised on-tap='{{next}}'>{{ "NEXT" | $$ }}</paper-button>
        </div>
        <div id='languageLink'>
          <core-icon icon='language'></core-icon>
          <paper-dropdown-menu label='{{ "LANGUAGE" | $$ }}'>
            <paper-dropdown class="dropdown">
                <core-menu class="menu" on-core-select='{{ updateLanguage }}'>
                    <template repeat='{{ l in languages }}'>
                      <paper-item languageCode='{{ l.languageCode }}'>
                        <bdi>{{ l.language }}</bdi>
                      </paper-item>
                    </template>
                </core-menu>
            </paper-dropdown>
          </paper-dropdown-menu>
        </div>
      </div>

      <uproxy-faq-link anchor='whatIsUproxy'>
        {{ "LEARN_MORE_UPROXY" | $$ }}
      </uproxy-faq-link>
    </div>

    <div vertical layout id='networks' hidden?='{{SPLASH_STATES.NETWORKS!==model.globalSettings.splashState}}'>
      <div class='view' flex>
        <h1 class='sub'>{{ "WHICH_SOCIAL_NETWORK" | $$ }}</h1>
        <p>{{ "WHY_SOCIAL_NETWORK" | $$ }}</p>
        <template repeat='{{ n in model.networkNames }}' vertical layout>
          <uproxy-network networkName='{{n}}'></uproxy-network>
        </template>
        <p id='oneTimeConnection'>
          <a href='#' on-tap='{{ copypaste }}'>{{ "SET_UP_ONE_TIME" | $$ }}</a>
        </p>
        <p>
          {{ "WE_WONT_POST" | $$ }}
        </p>
        <span id='submitFeedback' on-tap='{{ openFeedbackForm }}'>
          {{ "SUBMIT_FEEDBACK" | $$ }}
        </span>
      </div>
      <uproxy-faq-link anchor='whyDoesUproxyConnect'>
        {{ "LEARN_MORE_SOCIAL" | $$ }}
      </uproxy-faq-link>
    </div>

  </template>
  <script src='splash.js'></script>
</polymer-element>
